[Desktop Entry]
Type=Application
Name=Software
Name[ru]=Программы
GenericName=Software center
GenericName[ru]=Центр программ
Comment=Install apps from Arch repositories and AUR
Comment[ru]=Установка приложений из репозиториев Arch и AUR
Icon=system-software-install
Exec=qs ipc call store open
Terminal=false
Categories=System;PackageManager;
Keywords=software;store;market;программы;apps;install;pacman;aur;packages;магазин;приложения;установить;пакеты;
StartupNotify=false
